NODE_ENV=development
PORT=3000

APP_NAME=chat-auth-service
CLIENT_ORIGIN=http://chat.localhost

JWT_SECRET=test1234
JWT_EXPIRES_IN=1d

DB_DIALECT=mysql
DB_HOST=mysql
DB_PORT=3306
DB_NAME=chat-app
DB_USER=root
DB_PASSWORD=password
DB_LOGGING=false
DB_SYNC=true